# Tuist

Derived/
.build
Tuist/.build
Demo/Tuist/.build
Tuist/.swiftpm
.swiftpm/

# Project

*.xcodeproj
*.xcworkspace

# .DS_Store

.DS_Store

# App packaging

*.ipa
*.dSYM.zip
*.dSYM

# dotenv secret

.env.secret

# Node.js

node_modules/

# fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
